@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* CAMBIO COLORE NAV BAR */
.nav-white-background {
  background-color: #fff;
}
.nav-yellow-background {
  background-color: #ffc017;
}
.nav-button-black {
  background-color: black;
}
.nav-button-green {
  background-color: #0e7f14;
}

/* GLOBAL */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  padding-top: 1em;
  position: sticky;
  top: 0;
  z-index: 10;
}

#main-menu,
.news-footer-aside,
.hero-limit,
.trending-section {
  max-width: 1300px;
  margin: 0 auto;
}

h1 {
  font-family: "Spectral", serif;
  font-weight: 400;
  letter-spacing: -0.08em;
  font-style: normal;
  font-size: 7em;
}

h2 {
  text-transform: uppercase;
  font-size: 1em;
  display: flex;
  align-items: center;
}

h3 {
  margin: 0.2em 0;
  font-size: 1.7em;
}

h4 {
  font-size: 1.2em;
  font-weight: 800;
  margin: 0;
  line-height: 1.2em;
  word-wrap: break-word;
}
h5 {
  font-size: 1em;
}

button {
  border: none;
  background-color: #191919;
  color: white;
  border-radius: 50px;
}

hr {
  border: 1px solid #191919;
}

ul {
  list-style-type: none;
  margin: 0;
}
.date-readtime {
  color: #757575;
  margin: 0;
}

.grey-row {
  border: 1px solid #e6e7e7;
}

.in-class {
  color: #757575;
}

/* NAVBAR */

#main-menu ul button {
  padding: 0.8em 1em;
}

#main-menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

#main-menu ul {
  display: inherit;
  list-style-type: none;
  align-items: center;
  gap: 2em;
}
/* HERO SECTION */
#hero-section {
  background-color: #ffc017;
  padding: 5em 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#hero-section svg {
  position: absolute;
  right: 0;
  bottom: 0;
  transition: right ease-in 0.5s;
}

#hero-section p {
  font-size: 1.5em;
  margin-bottom: 2em;
}

#hero-section button {
  font-size: 1.25em;
  padding: 0.5em 3em;
}

/* TRENDING SECTION */

.trending-section {
  margin-bottom: 3em;
}

.article-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3em;
}

.trending-article {
  width: 300px;
  display: flex;
  flex-grow: 1;
}

.number-article {
  padding-right: 0.5em;
  font-size: 2em;
  font-weight: 700;
  color: #e6e7e7;
  padding-top: 0.2em;
}
.inside-article-section {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 0.5em;
}

.author {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.author img {
  width: 25px;
  height: 25px;
  border-radius: 20px;
}

/* FOOTER & NEWS MAIN CONTAINER */
.news-footer-aside {
  display: flex;
  margin-top: 4em;
  column-gap: 8em;
}

.news-footer-aside footer {
  flex-shrink: 2;
}

/* FOOTER ARTICLE */

.footer-inside-article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
  gap: 1em;
}
.footer-inside-article > img {
  height: 150px;
}

.footer-inside-article p {
  margin: 0;
}

.ft-ins-arti-date {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 1em;
}

.ft-ins-arti-date span:nth-child(3) {
  padding: 0.5em;
  border-radius: 50px;

  background-color: #e6e7e7;
  color: #757575;
}

.ft-ins-arti-date span:last-of-type {
  flex-grow: 1;
  text-align: end;
}

/* FOOTER */
footer h2 {
  margin-top: 0;
}

.footer-tag {
  list-style-type: none;
  margin: 0;
  margin-bottom: 2em;
}

.footer-tag li {
  display: inline-block;
  color: #757575;
  border: 1px solid #757575;
  padding: 0.5em 1em;
  margin: 0.5em;
}

.footer-info {
  margin-top: 2em;
}
.footer-info li {
  display: inline-block;
  color: #757575;
  padding: 0.5em 0.8em;
}

@media screen and (max-width: 1200px) {
  #main-menu,
  .news-footer-aside,
  .hero-limit,
  .trending-section {
    margin: 0 3em;
  }

  #svg-inject {
    display: inline-block;
    overflow: hidden;
  }

  #hero-section svg {
    right: -10em;
  }

  .article-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .date-readtime {
    display: flex;
    justify-content: space-between;
  }

  .date-readtime span:nth-child(2) {
    opacity: 0;
  }

  .news-footer-aside {
    flex-direction: column-reverse;
  }
  .news-footer-aside section {
    margin: 0;
  }

  .footer-info li {
    padding: 0.5em 2em 0.5em 0;
  }
  footer h2 {
    margin-top: 5em;
  }
}

@media screen and (max-width: 678px) {
  #main-menu ul li:nth-child(2),
  #main-menu ul li:nth-child(3),
  #main-menu ul li:nth-child(4) {
    display: none;
  }

  #hero-section svg {
    right: -50em;
  }
  .trending-article {
    width: 100%;
  }

  .inside-article-section {
    max-width: 100%;
    flex-grow: 1;
  }
  .footer-inside-article {
    align-items: center;
  }
}
